.QuizPageContainer {
  margin: 100px auto 0px auto;
  padding: 40px;
  max-width: 50rem;
  width: 100%;
}
.QuizPageImageContainer {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  max-width: 400px;
  aspect-ratio: 1 / 1;
}

.QuizPageImage {
  width: 70%;
}

.QuizPageInputContaier{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.QuizPageInput{
  background-color: rgb(36, 36, 36);
  border: none;
  outline: none;
  color: aliceblue;
  width: 87%;
  height: 40px;
  font-size: 20px;
  text-align: center;
}

.QuizPageInputButton{
  background-color: rgb(36, 36, 36);
  outline: none;
  border: none;
  color: aliceblue;
  width: 10%;
}

.QuizEndContainer {
  justify-content: center;
}

.QuizEndText {
  font-size: 32px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.HomeImage{
  border: 2px solid rgb(255, 255, 255);
}
.HomeImageContainer{
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  max-width: 400px;
  aspect-ratio: 1 / 1;
}
.ImageContainer{
  display: flex;
  justify-content: center;
}
